themes {
    default {
        fg "#39ff14"
        bg "#0c0c1e"
        black "#1a1a38"
        red "#ff1744"
        green "#39ff14"
        yellow "#ffea00"
        blue "#1e90ff"
        magenta "#d500f9"
        cyan "#00e5ff"
        white "#e6ffcc"
        orange "#ff9100"
    }
}