themes {
    default {
        fg "#00FFFF"
        bg "#0C0C1E"
        black "#1C1C2C"
        red "#FF0000"
        green "#00FF00"
        yellow "#FFA500"
        blue "#1E90FF"
        magenta "#FF00FF"
        cyan "#00FFFF"
        white "#F0F0F0"
        orange "#FF4500"
    }
}