layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "#[bg=black,fg=blue] {session} {mode}#[bg=black]{tabs}"
                format_center "{notifications}"
                format_right  "#[bg=black,fg=blue]#[bg=blue,fg=black] {command_user}@{command_host} #[bg=blue,fg=magenta]#[bg=magenta,fg=black] {datetime} "
                format_space  "#[bg=black,fg=cyan]"
                format_hide_on_overlength "true"
                format_precedence "lrc"

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=blue]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=green,fg=black]#[bg=green,fg=black,bold] NORMAL#[bg=black,fg=green]"
                mode_tmux          "#[bg=cyan,fg=black]#[bg=cyan,fg=black,bold] TMUX#[bg=black,fg=cyan]"
                mode_locked        "#[bg=red,fg=black]#[bg=red,fg=white,bold] LOCKED#[bg=black,fg=red]"
                mode_pane          "#[bg=yellow,fg=black]#[bg=yellow,fg=black,bold] PANE#[bg=black,fg=yellow]"
                mode_tab           "#[bg=yellow,fg=black]#[bg=yellow,fg=black,bold] TAB#[bg=black,fg=yellow]"
                mode_scroll        "#[bg=magenta,fg=black]#[bg=magenta,fg=white,bold] SCROLL#[bg=black,fg=magenta]"
                mode_enter_search  "#[bg=magenta,fg=black]#[bg=magenta,fg=white,bold] ENT-SEARCH#[bg=black,fg=magenta]"
                mode_search        "#[bg=magenta,fg=black]#[bg=magenta,fg=white,bold] SEARCH#[bg=black,fg=magenta]"
                mode_resize        "#[bg=orange,fg=black]#[bg=orange,fg=black,bold] RESIZE#[bg=black,fg=orange]"
                mode_rename_tab    "#[bg=orange,fg=black]#[bg=orange,fg=black,bold] RENAME-TAB#[bg=black,fg=orange]"
                mode_rename_pane   "#[bg=orange,fg=black]#[bg=orange,fg=black,bold] RENAME-PANE#[bg=black,fg=orange]"
                mode_move          "#[bg=orange,fg=black]#[bg=orange,fg=black,bold] MOVE#[bg=black,fg=orange]"
                mode_session       "#[bg=blue,fg=black]#[bg=blue,fg=white,bold] SESSION#[bg=black,fg=blue]"
                mode_prompt        "#[bg=blue,fg=black]#[bg=blue,fg=white,bold] PROMPT#[bg=black,fg=blue]"

                tab_normal              "#[bg=blue,fg=black]#[bg=blue,fg=black] {index} #[bg=blue,fg=black,bold] {name} {floating_indicator}#[bg=black,fg=blue]"
                tab_normal_fullscreen   "#[bg=blue,fg=black]#[bg=blue,fg=black] {index} #[bg=blue,fg=black,bold] {name} {fullscreen_indicator}#[bg=black,fg=blue]"
                tab_normal_sync         "#[bg=blue,fg=black]#[bg=blue,fg=black] {index} #[bg=blue,fg=black,bold] {name} {sync_indicator}#[bg=black,fg=blue]"
                tab_active              "#[bg=cyan,fg=black]#[bg=cyan,fg=black] {index} #[bg=cyan,fg=black,bold] {name} {floating_indicator}#[bg=black,fg=cyan]"
                tab_active_fullscreen   "#[bg=cyan,fg=black]#[bg=cyan,fg=black] {index} #[bg=cyan,fg=black,bold] {name} {fullscreen_indicator}#[bg=black,fg=cyan]"
                tab_active_sync         "#[bg=cyan,fg=black]#[bg=cyan,fg=black] {index} #[bg=cyan,fg=black,bold] {name} {sync_indicator}#[bg=black,fg=cyan]"
                tab_separator           "#[bg=blue,fg=black]"

                tab_sync_indicator       ""
                tab_fullscreen_indicator "󰊓"
                tab_floating_indicator   "󰹙"

                notification_format_unread "#[bg=red,fg=black]#[bg=red,fg=black] {message} #[bg=black,fg=red]"
                notification_format_no_notifications ""
                notification_show_interval "10"

                command_host_command    "uname -n"
                command_host_format     "{stdout}"
                command_host_interval   "0"
                command_host_rendermode "static"

                command_user_command    "whoami"
                command_user_format     "{stdout}"
                command_user_interval   "0"
                command_user_rendermode "static"

                datetime          "{format}"
                datetime_format   "%Y-%m-%d %H:%M"
                datetime_timezone "Europe/Stockholm"
            }
        }
    }
}